.form{
    background-color: azure;
    text-align: center;
    border-radius: 16px;
    box-shadow: 0px 0px 2px 2px grey;
    margin-right: auto;
    margin-left: auto;
    width: min-content;
    padding: 64px;
}

.input-element{
    margin: 4px;
    padding: 4px;
}

.input-box{
    padding: 4px;
    border-radius: 4px;
}

.error-text{
    font-size: smaller;
    color: red;
}

.heading{
    font-weight: bold;
}